#content{
	margin-left:auto;    /* 左側マージンを自動的に空ける */
	margin-right:auto;   /* 右側マージンを自動的に空ける */
	text-align:left;     /* 中身を左側表示に戻す */
	margin-top:131px;
	width:572px;
}

.tab1 {
	border-bottom: 30px solid #ff99cc;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 170px;
	float:left;
	text-align:center;
}

.tab2 {
	border-bottom: 30px solid #ffccff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 170px;
	float:left;
	text-align:center;
}

.tab_txt{
	margin-top: 8px;
}


table.tb_form{
	margin-left:50px;
}

p{
	margin-bottom:0px;
}
p.first{
	margin-top:73px;
}

p.two{
	margin-top:14px;
}

p.third{
    margin-top:0;
}

p.p_cate{
    margin-top:23px;
}

p.p_content{
	margin-top: -69px;
}

p{
	display:block;
	text-align: left;
	width:80px;
	height:30px;
}

input.classification{
    margin-top:60px;
}

input.fm_stunum1{
    margin-top:12px;
}

input.fm_stunum2{
    margin-top:11px;
}

input {
	margin-left:18px;
	width:200px;
	height:30px;
}

input.mail{
	width:350px;
}

label{
    margin-left:10px;
    color: red;
    font-size: small;
}

select{
	margin-left:18px;
	margin-top:7px;
	width:200px;
	height:36px;
}

textarea{
	margin-left:18px;
	width:350px;
	height:120px;
}

input.submit1{
	background-color:#ffccff;
	border:none;
	margin-top:128px;
	margin-left:360px;
	width:130px;
	height:50px;
}

input.submit2{
	background-color:#ffccff;
	border:none;
	margin-top:20px;
	margin-left:360px;
	width:130px;
	height:50px;
}

.fw{
	width:570px;
	height:570px;
	margin-top:	0;
	clear:both;
	border:solid 1px #c0c0c0;
	display:none;
}

.fw_first{
	width:570px;
	height:570px;
	margin-top:	0;
	clear:both;
	border:solid 1px #c0c0c0;
	display:block;
}

table{
	margin:0,0,0,0;
	border:0;
	padding:0;
	border-spacing:0;
}