		body{
			background-color: #eeffff;
		}
		#content{
			width:800px;
			height:610px;
			border:1px solid #cccccc;
			margin: 0 auto;
			background-color:#fff;
			/*“§‰ß“x70%*/
			filter:alpha(opacity=0.7);
			-moz-opacity: 0.7;
			opacity: 0.7;
		}
		.left_form{

			float:left;
			width:440px;
			height:510px;	
		}
		.right_form{
			width:355px;
			height:510px;
			float:right;
		}

		.hidebutton{
			display: none;
		}
		.buttontest label{
			float:right;
			width:60px;
			height:20px;
			margin:0px;
			padding:5px;
			background-color: #a9c4eb;
			border:solid 1px #D3D3D3;
			text-align: center;
			background: linear-gradient(white, #D3D3D3);
			float:right;
		}

		.buttontest input:checked+label {
			color: #fff;
			background: #C3C3C3;
			text-shadow: 0px 0px 0px #fff;
		}
		#hidebutton