body{
	background-color: #eeffff;
}
#content{
	width:800px;
	height:610px;
	border:1px solid #cccccc;
	margin: 0 auto;
	background-color:#fff;
	/*透過度70%*/
	filter:alpha(opacity=0.7);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.left_form{
	float:left;
	width:440px;
	height:100%;
}
.right_form{
	width:355px;
	height:100%;
	float:right;
}
#notice{
	width:250px;
	height:60px;
	margin: 30px 0px 0px 150px;
	border-radius: 5px;
	font-size:100%;
	overflow:hidden;
}