<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>OIC SNS - RT2</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="template/base.css">
		<script type="text/javascript"><!--
			//JavaScript
		//--></script>
		<style>
			/*CSS*/
		</style>
	</head>
	<body>
		<div id="header">
			<ul>
				<li class="about"><a href="about.htm">当サイトについて</a>
				<li class="contact"><a href="contact.htm">通報&問い合わせ</a>
				<li id="logout">ログアウト
			</ul>
		</div>
		<div id="content">
			<!--Contents-->
		</div>
		<div id="footer">
			Copyright &copy; 2013 OIC-SNS All Rights Reserved.
		</div>
	</body>
</html>