<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>OIC SNS - RT2</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="base.css">
		<script type="text/javascript"><!--
			//JavaScript
		//--></script>
		<style>
			/*CSS*/
		</style>
	</head>
	<body>
		<div class="header">
			<div class="about">当サイトについて</div>
			<div class="contact">通報&問い合わせ</div>
			<div class="logout">ログアウト</div>
		</div>
		<div id="content">
			<!--Contents-->
		</div>
		<div class="footer">
			Copyright &copy; 2013 OIC-SNS All Rights Reserved.
		</div>
	</body>
</html>